.clippy {
    max-width: 150px;
    border: 2px solid blue;
    position: fixed;
    bottom:45px;
    right:0px;
}

.clippy-helper {
    display: flex;
    justify-content:end;
    align-items:flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 40%;
    pointer-events: none;
    border: 2px solid red;
}

