.clippy {
    max-width: 150px;
   /* border: 2px solid blue; */
    position: fixed;
    bottom:45px;
    right:70px;
    pointer-events: none;
}

.clippy-helper {
    display: flex;
    justify-content:end;
    align-items:flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 40%;
   /* border: 2px solid red;*/

}

.clippy-text {
    max-width: 225px;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid black;
    background-color: #FFFFCB;
    position: fixed;
    bottom: 195px;
    padding-left: 10px;
    padding-right: 0px;
    right: 90px;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    z-index: 1000;
    pointer-events: auto;
    font-family: inherit;
}

.clippy-text::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Adjust as needed */
    left: 160px; /* Adjust as needed */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFFFCB; /* Same color as the .clippy-text background */
}

.clippy-text::before {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 160px;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid black;
    z-index: -1;
}

.clippy-response {
    text-decoration: underline;
    cursor: pointer;
    pointer-events: auto;
    max-width: 200px;
    font-family: inherit;
}


.clippy-list {
    row-gap: 3px;
    display: flex;
    flex-direction: column;
    padding-left: 20px ;
    margin: 10px 0;
}

.clippy-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    min-height: 60px;
}

.clippy-container {
    font-family: "MS Sans Serif", "Microsoft Sans Serif", Arial, sans-serif;
    font-size: 11px;
    color: black;
    image-rendering: pixelated;
    text-rendering: optimizeLegibility;
}