.start-button-div {
    position: relative;
    max-width: 80px;
    max-height: 300px;
    border: 2px solid;
    /*outline: 2px solid pink; */
}

.start-button {
    display: flex;
    width: 80px;
    height: 28px;
    align-items: center;
    gap: 8px;
    padding: 0;
    cursor:pointer;
}

.logo-text {
    font-weight: bold;
    font-size: 14px;
}


#start-logo {
    width: 28px;
    height: 24px;
    margin-bottom: 5px;
}

.altered-window1 {
    position: fixed;
    top: -5%;
    left: 40%;
    z-index: 10; /* Ensure it stays on top */
}

.altered-window2 {
    position:fixed;
    bottom: 80%;
    left: 25%;
    z-index: 20;
}

.altered-window3 {
    position: fixed;
    bottom: 80%;
    left: 25%;
    z-index: 30;
}