/* General styling for the window */
.resume-window {
    width: 100%; /* Allow the window to take full width */
    height: 100%; /* Allow the window to take full height */
    display: flex;
    flex-direction: column;
}

/* Ensure the PDF viewer fills the body of the window */
.resume-window .windows-body {
    flex-grow: 1; /* Make the body grow to take available space */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100%;
}

/* Make the PDF viewer take the full size of the body */
.resume-window .windows-body .rpv-core__viewer {
    width: 100%;
    height: 100%;
}

.resume-window .rpv-core__inner-page {
    width: auto !important;
    height: auto !important;
    max-width: 100%;
    max-height: 100%;
    transform: scale(1.5);
}

.pdf-viewer {
    width: 800px;
    height:600px;
}

.resume-body {
    display:flex;
    flex-direction: column;
}