.start-dropdown-div {
    position: absolute;
    bottom: 37px;  /* Adjust this value to match the height of your taskbar */
    left: -2px; 
    z-index: 10;   /* Ensure it stays on top of other elements */
    /*outline: 2px solid blue; */
}


.icon-list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.icon-list li {
    margin-right: 10px;
}

.icon-item {
    display: flex;
    width: 80px;
    height: 28px;
    align-items: center;
    gap: 8px;
    padding: 0;
    cursor: pointer;
}

.icon-text {
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

#icon-photo {
   width: 24px;
   height: 20px;
   margin-bottom: 5px; 
}