.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

main>div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

#hero {
    min-height: 100vh;
    padding-top: 5rem;
    /* Space for fixed navbar */
}