.taskbar {
    width: 100%;
    height: 40px;
    background-color:#c0c0c0;
    gap: 5px;
    display: inline-flex;
    justify-content: center;
    position: relative;
    margin: 0;
}

.left {
    /*outline: 2px solid red; debugging attribute */
    height: 30px;
    align-items: center;
    display: flex;
    margin-top: 5px;
}


.right {
    width: 10%;
    height: 30px;
    margin-top: 5px;
    /*outline: 2px solid yellow; */
    display: flex;
    justify-content: center;
}

.center {
    width: 80%;
    height: 30px;
    margin-top: 5px;
    /*outline: 2px solid green; */
}

.windows-box-shadow {
    box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 0 2px #818181, 2px 0 #818181,  2px -2px #e0dede, -2px 2px #818181, -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 0 4px black, 2px -4px white, 4px -4px black;
}
.inverse-windows-box-shadow{
    box-shadow: -2px -2px #818181, -2px 0 #818181, 0 -2px #818181, -4px -4px black, -4px 0 black, 0 -4px black, 2px 2px #e0dede, 0 2px #e0dede, 2px 0 #e0dede,  2px -2px #818181, -2px 2px #e0dede, -4px 2px black, -4px 4px white, 4px 4px white, 4px 0 white, 0 4px white, 2px -4px black, 4px -4px white;
}


.mini-div {
    position:relative;
    height: 100%;
    margin-top: 2px;
    margin-left: 10px;
    width: 2px;
    background-color: #e0dede;
}


.left .mini-div {
    margin-right: 3px;
}

.start-button-div {
    position: relative;
    max-width: 80px;
    max-height: 25px;
    border: 2px solid;
}
.start-button {
    display: flex;
    width: 80px;
    height: 28px;
    align-items: center;
    gap: 8px;
    padding: 0;
}
.logo-text {
    font-weight: bold;
    font-size: 14px;
}

#start-logo {
    width: 28px;
    height: 24px;
    margin-bottom: 5px;
}


.clock-time #show-time {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    -webkit-font-smoothing: none;
}
.clock {
    width: 100px;
    height: 28px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.clock-time {
    text-align: center;
    display: inline-block;
}

#show-time {
    font-size: 13px;
    font-weight: bold;
    color: inherit;
    text-align: center;
    -webkit-font-smoothing: antialased;
    -moz-osx-font-smoothing: auto;
    font-family: "Pixelated MS sans Serif", Arial;
}

