.window {
    width: 300px;
}

.photo {
    max-width: 300px;

}


button {
    cursor: pointer;
}

.window-body {
    display: flex;
    max-width: 300px;
    justify-content: center;
}

.photo-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.photo-controls button {
    min-width: 75px;
}

.photo-controls span {
    min-width: 50px;
    text-align: center;
}