.music-player {
    position: fixed;
    top: 20px;
    right: 20px;
    z-Index: 500;
}

.music-player-button {
    background: none;
    border: none;
    cursor: pointer;
    box-shadow: none;
    width: 50px;
    height: 60px;
}
.music-player-icon {
    width: 100%;
    height: 100%;
}