:root {
    --color-bg: #FFFFF0;
    --color-text: #9C9C95;
    --color-accent: #BDBD9B;
    --font-primary: "Raleway", sans-serif;
    --font-heading: "Merriweather", serif;
}


/*TODO: implement dark theme that has similar colours/ provides a similar theme to normal colour scheme.*/
[data-theme="dark"] {
    --color-bg: #FFFFF0;
    --color-text:#9C9C95;
    --color-accent:#BDBD9B;
}